---
---

@import "{{ site.theme }}";

body {
  background-color: #24273A;
  color: #CDD6F4;
}

h1 {
  display: none;
}

.markdown-body h3 {
  font-size: 1.48rem;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

li {
  font-size: 1.2rem;
}

blockquote > p {
  color: #919191;
}
